/* Check out different colors here: https://www.materialpalette.com/ */

.box {
  min-height: 100px;
  width: 100%;
}

.white {
	  background-color: #ff6e40;
	  min-height:25px;
}

.dark_blue {
  background-color: #f0692;
}

.light_blue {
  background-color: #00c853;
}

.green {
  background-color: #c0ca33;
}
