/* Check out different fonts here: https://fonts.google.com/ */

h1 {
	font-family: 'Chelsea Market', cursive;
	padding-bottom: 10px;
}

/* notice how line 10 is overridden by line 11; if there is a conflict, the computer will store the most current instructions in its memory */
h2 {
	font-family: 'Barrio', cursive;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Droid Serif', serif;
	padding-bottom: 50px;
}
